
<mat-expansion-panel>
    <mat-expansion-panel-header>
		<mat-panel-title> {{getPanelName()}} </mat-panel-title>
        <mat-panel-description>
        	Qty.{{getBookQty()}}
        </mat-panel-description>
		<mat-panel-description>
        	{{itemQuotation.total}}
        </mat-panel-description>
    </mat-expansion-panel-header>

	<form [formGroup]="orderForm">

		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput
				placeholder="Name"
				[formControl]="name"
			/>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>B.Qty</mat-label>
			<input matInput
				placeholder="0"
				type="number"
				[formControl]="bookQuantity"
			/>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Size</mat-label>
			<mat-select (selectionChange)="calculateAndEmitItemQuotation()" [(value)]="selectedSize">
				<ng-container *ngFor="let size of pSize">
					<mat-option value="{{size}}">{{size}}</mat-option>
				</ng-container>
			</mat-select>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Dp/Tr</mat-label>
			<mat-select (selectionChange)="calculateAndEmitItemQuotation()" [(value)]="selectedDPTR">
				<ng-container *ngFor="let count of dptr">
					<mat-option value="{{count}}">{{count}}</mat-option>
				</ng-container>
			</mat-select>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Printed pages</mat-label>
			<input matInput
			placeholder="0"
				type="number"
				[formControl]="pritedPages"
			/>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Pages</mat-label>
			<input matInput
			placeholder="0"
				type="number"
				[formControl]="pages"
			/>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Col.</mat-label>
			<input matInput
			placeholder="0"
				type="number"
				[formControl]="fbcol"
			/>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Side</mat-label>
			<input matInput
			placeholder="0"
				type="number"
				[formControl]="side"
			/>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Plate</mat-label>
			<mat-select (selectionChange)="calculateAndEmitItemQuotation()" [(value)]="selectedPlate">
				<ng-container *ngFor="let size of plateSize">
					<mat-option value="{{size}}">{{size}}</mat-option>
				</ng-container>
			</mat-select>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Bin</mat-label>
			<mat-select (selectionChange)="calculateAndEmitItemQuotation()" [(value)]="selectedBin">
				<ng-container *ngFor="let size of bin">
					<mat-option value="{{size}}">{{size}}</mat-option>
				</ng-container>
			</mat-select>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Num Counter</mat-label>
			<input matInput
			placeholder="0"
				type="number"
				[formControl]="numCounter"
			/>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-label>Paper 1</mat-label>
			<mat-select (selectionChange)="calculateAndEmitItemQuotation()" [(value)]="selectedPaper1">
				<ng-container *ngFor="let quality of paper">
					<mat-option value="{{quality}}">{{quality}}</mat-option>
				</ng-container>
			</mat-select>
		</mat-form-field>

		@if (selectedDPTR >= 2) {
			<br>

			<mat-form-field>
				<mat-label>Paper 2</mat-label>
				<mat-select (selectionChange)="calculateAndEmitItemQuotation()" [(value)]="selectedPaper2">
					<ng-container *ngFor="let quality of paper">
						<mat-option value="{{quality}}">{{quality}}</mat-option>
					</ng-container>
				</mat-select>
			</mat-form-field>
		}

		@if (selectedDPTR >= 3) {
			<br>

			<mat-form-field>
				<mat-label>Paper 3</mat-label>
				<mat-select (selectionChange)="calculateAndEmitItemQuotation()" [(value)]="selectedPaper3">
					<ng-container *ngFor="let quality of paper">
						<mat-option value="{{quality}}">{{quality}}</mat-option>
					</ng-container>
				</mat-select>
			</mat-form-field>
		}

		@if (selectedDPTR >= 4) {
			<br>

			<mat-form-field>
				<mat-label>Paper 4</mat-label>
				<mat-select (selectionChange)="calculateAndEmitItemQuotation()" [(value)]="selectedPaper4">
					<ng-container *ngFor="let quality of paper">
						<mat-option value="{{quality}}">{{quality}}</mat-option>
					</ng-container>
				</mat-select>
			</mat-form-field>
		}

	</form>

</mat-expansion-panel>

