<main class="main">
  <h1>Bill Book</h1>
  <div class="content">
    <ng-container *ngFor="let item of itemsArray; index as idx; trackBy: trackByFn">
      <div class="panel-wrapper">
        <app-expansion-panel
        (itemCalculationEvent)="setItem($event, idx)"></app-expansion-panel>
      </div>
    </ng-container>
      <button mat-fab class="add-panel-btn" (click)="addPanel()">
        <mat-icon>add</mat-icon>
      </button>
  </div>
  <div class="total-cost" (click)="openQuotation()">
    <span>Total Cost: {{totalCost}}</span>
  </div>
</main>

<router-outlet />
